body {
  font-family: 'Montserrat', sans-serif;
  background-color: #b4b0b0;
  margin: 0;
  padding: 0;
}

select {
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
  margin: 20px 0;
}
img {
  display: block; /* Para centrar horizontalmente */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  text-align: center;
  margin: auto;
  width: fit-content;
}

label {
  font-weight: bold;
}

select {
  padding: 8px;
  font-size: 16px;
}

select,
table {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

/* Estilo para filas con Disponible <= 0 */
.no-disponible {
  background-color: #f85b5b;
}